body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    font-size: 0.8em;
}

.header-content {
    display: flex;
    flex-direction: column;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    background-position: center;
    height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    color: ivory;
}

.p-header {
    padding: 30px 200px;
}

.btn {
    height: 40px;
    width: 100px;
    color: inherit;
    background-color: rgb(5, 48, 83);
    border: rgb(158, 158, 157) 1px solid;
    border-radius: 5px;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.white {
    height: 200px;
}

.two-col {
    column-count: 2;
    column-gap: 30px;
}

.dark {
    background-color: rgb(77, 80, 83);
    color: ivory;
    align-items: stretch;
    height: 400px;
}

.image-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 15px;
}

.web-container, .mob-container, .tech-container {
    display: flex;
    flex-direction: column;
    background-color: ivory;
    color: black;
    align-content: flex-start;
    margin: 10px;
    height: 350px;
}

.web, .mob, .tech {
    width: 200px;
}

.p-pad {
    padding: 10px;
}

img {
    max-height: 100px;
    width: auto;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}

.white {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    text-align: center;
}

.bottom-container {
    height: 200px;
    display: flex;
    justify-items: space-around;
    align-items: stretch;
    text-align: center;
}

.left {
    background-color: rgb(46, 121, 206);
    color: ivory;
    padding: 0 30px;
}

.right {
    background-color: rgb(77, 80, 83);
    color: ivory;
    padding: 0 30px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.black {
    height: 50px;
    background-color: black;
    color: ivory;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    color: rgb(9, 110, 204)
}